<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="All Test Suite">

    <test verbose="7" preserve-order="true" name="First Test Case">
        <classes>
            <class name="digitalbank.GetPerson"/>
            <class name="digitalbank.AccountTests"/>
            <class name="digitalbank.CheckingTests"/>
            <class name="digitalbank.SavingsTests"/>
        </classes>
    </test>

</suite>